.form-input-group {
    width: 100%;

    & .form-input {
        background: none;
        background-color: white;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid;
        margin: 25px 0;

        &:focus {
            outline: none;
        }

        &.error {
            border-bottom: 2px solid;
        }


    }
}

.error {
    color: red;
}